.dropdown {
  position: absolute;
  background-color: white;
  width: 9rem;
  border-radius: var(--mantine-radius-sm);
  box-shadow: var(--mantine-shadow-xl);
  border: 1px solid hsla(0, 0%, 0%, 25%);
}

.characterBtn {
  text-align: left;
  display: flex;
  align-items: center;
  gap: var(--mantine-spacing-xs);
}
