.dropdown {
  position: absolute;
  background-color: white;
  width: fit-content;
  padding: var(--mantine-spacing-lg) var(--mantine-spacing-xl);
  border-radius: var(--mantine-radius-sm);
  box-shadow: var(--mantine-shadow-xl);
  border: 1px solid hsla(0, 0%, 0%, 25%);
}
